body {
  background-color: #232323;
}

.square {
  width: 30%;
  background: purple;
  padding-bottom: 30%;
  float: left;
  margin: 1.66%;
  border-radius: 20px;
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem; */
}

#container {
  margin: 0 auto;
  max-width: 600px;
}

h1 {
  color: white;
}

/* span {
  color: white;
} */

#stripe {
  background-color: white;
  color: black;
  /* height: 30px; */
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}

.selected {
  background: blue;
}
